*.dll
*.pdb
master/DrugHouse.ViewModel.Tests/obj/*
master/DrugHouse.View.Tests/obj/*
master/DrugHouse.Model.Test/obj/*
master/DrugHouse.ViewModel.Tests/bin/*
master/DrugHouse.View.Tests/bin/*
master/DrugHouse.Model.Test/bin/*
master/DrugHouse.ViewModel/obj/*
master/DrugHouse.ViewModel/bin/*
master/DrugHouse.View/obj/*
master/DrugHouse.View/bin/*
master/DrugHouse.Model/obj/*
master/DrugHouse.Model/bin/*
master/DrugHouse.Shared/bin/*
master/DrugHouse.Shared/obj/*
master/Dexuse/bin/*
master/Dexuse/obj/*
*.suo
*.vssscc
master/Performance1.psess
*.vspx
